<!DOCTYPE html>
<html>

<head>
    <title>Live Location</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>

<body>

    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script>
        function getDistance(lat1, lon1, lat2, lon2) {
            //haversine distance formula
            const R = 6371e3;
            const toRad = (x) => (x * Math.PI) / 180;

            const dLat = toRad(lat2 - lat1);
            const dLon = toRad(lon2 - lon1);

            const a =
                Math.sin(dLat / 2) ** 2 +
                Math.cos(toRad(lat1)) *
                Math.cos(toRad(lat2)) *
                Math.sin(dLon / 2) ** 2;

            return R * (2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a)));
        }
        const map = L.map("map").setView([0, 0], 15);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "Indian Tourist Safety",
        }).addTo(map);

        const marker = L.marker([0, 0]).addTo(map);

        const token = "<%=token%>";
        const socket = io("http://localhost:7000", {
            auth: {
                token: token
            }
        });
        socket.on("connect", () => {
            console.log("Socket connected: ", socket.id);
        });
        socket.on("connect_error", (err) => {
            console.error("Socket connection error:", err.message);
        });
     

        let lastPosition = null;




        //Get live location
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(
                (position) => {
                    console.log("Watch Triggered")
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;

                    console.log("Location:", lat, lng);

                    // update marker
                    //marker moves live
                    marker.setLatLng([lat, lng]);

                    // move map
                    //camera follows user

                    //set map view only first time
                    map.setView([lat, lng], 15);


                    if (lastPosition) {
                        const distance = getDistance(
                            lastPosition.lat,
                            lastPosition.lng,
                            lat,
                            lng
                        );
                        // if(distance<20) return;//skip small movement
                        if (distance > 2) {
                            socket.emit("send-location", {
                                latitude: lat,
                                longitude: lng,
                            });

                        }

                    } else {
                        socket.emit("send-location", {
                            latitude: lat,
                            longitude: lng,
                        });
                    }
                    lastPosition = { lat, lng };
                },
                (error) => {
                    console.error(error);
                },
                {
                    enableHighAccuracy: true,
                    maximumAge: 0,
                    timeout: 5000,
                }
            );
        } else {
            alert("Geolocation not supported");
        }
    </script>

</body>

</html>