<!DOCTYPE html>
<html>

<head>
    <title>Live Location</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <style>
        #map {
            height: 100vh;
            width: 100%;
        }

        .my-label {
            background-color: transparent;
            border: transparent;
            box-shadow: none;
            font-weight: bold;
            color: black;
            /* Adjust offset here if 'direction: top' isn't perfect */
            transform: translateY(-20px);
        }
    </style>
</head>

<body>

    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


    <!-- clustering for incident and cdn for performance  -->
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />

    <script>
        function getDistance(lat1, lon1, lat2, lon2) {
            //haversine distance formula
            const R = 6371e3;
            const toRad = (x) => (x * Math.PI) / 180;

            const dLat = toRad(lat2 - lat1);
            const dLon = toRad(lon2 - lon1);

            const a =
                Math.sin(dLat / 2) ** 2 +
                Math.cos(toRad(lat1)) *
                Math.cos(toRad(lat2)) *
                Math.sin(dLon / 2) ** 2;

            return R * (2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a)));
        }

        const map = L.map("map").setView([0, 0], 15);

        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: "Indian Tourist Safety",
        }).addTo(map);

        const marker = L.marker([0, 0]).addTo(map);

        const token = "<%=token%>";
        const userName = "<%=user%>";

        marker.bindTooltip(`${userName} (you)`, {
            permanent: true,
            direction: 'top',
            className: "my-label"
        }).openTooltip();

        const socket = io("http://localhost:7000", {
            auth: {
                token: token
            }
        });
        socket.on("connect", () => {
            console.log("Socket connected: ", socket.id);
        });
        socket.on("connect_error", (err) => {
            console.error("Socket connection error:", err.message);
        });


        let lastPosition = null;




        //Get live location
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(
                (position) => {
                    console.log("Watch Triggered")
                    const lat = position.coords.latitude;
                    const lng = position.coords.longitude;

                    console.log("Location:", lat, lng);

                    // update marker
                    //marker moves live
                    marker.setLatLng([lat, lng]);

                    // move map
                    //camera follows user

                    //set map view only first time
                    map.setView([lat, lng], 16);


                    if (lastPosition) {
                        const distance = getDistance(
                            lastPosition.lat,
                            lastPosition.lng,
                            lat,
                            lng
                        );
                        // if(distance<20) return;//skip small movement
                        if (distance > 1) {
                            socket.emit("send-location", {
                                latitude: lat,
                                longitude: lng,
                            });

                        }

                    } else {
                        socket.emit("send-location", {
                            latitude: lat,
                            longitude: lng,
                        });
                    }
                    lastPosition = { lat, lng };
                },
                (error) => {
                    console.error(error);
                },
                {
                    enableHighAccuracy: true,
                    maximumAge: 0,
                    timeout: 5000,
                }
            );
        } else {
            alert("Geolocation not supported");
        }

        const markers = new Map();

        function updateNearbyMarkers(users) {
            users.forEach(user => {
                const [lng, lat] = user.coordinates;

                if (markers.has(user.userId)) {
                    markers.get(user.userId).setLatLng([lat, lng]);
                } else {
                    const usersmarker = L.marker([lat, lng], {
                        icon: L.icon({
                            iconUrl: "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png",
                            iconSize: [32, 32],
                        })
                    }).addTo(map);

                    usermarker.bindTooltip(user.name, {
                        permanent: true,
                        direction: 'top',
                        className: "my-label"
                    });
                    markers.set(user.userId, usermarker);
                }
            });
        }

        setInterval(async () => {
            if (!lastPosition) return;

            try {
                const res = await fetch(
                    `/api/locations/nearby?lat=${lastPosition.lat}&lng=${lastPosition.lng}`, {
                    header: {
                        authoriztion: `Bearer ${token}`,
                    },
                }
                );
                // console.log(res);
                const data = await res.json();
                if (data.success) {
                    updateNearbyMarkers(data.data);
                }
            } catch (error) {
                console.error("Nearby fetch error:", err);
            }
        }, 5000);
        function generateSignature(incidents) {
            return incidents
                .map(i => `${i.type}-${i.coordinates[0]}-${i.coordinates[1]}`)
                .sort()
                .join("|");
        }
        let previousSignature = "";

        const incidentMarkers = [];

        async function fetchIncidents() {
            if (!lastPosition) return;
            try {
                const res = await fetch(`/api/incidents/nearby?lat=${lastPosition.lat}&lng=${lastPosition.lng}`, {
                    headers: {
                        authoriztion: `Bearer ${token}`,
                    },
                });
                const data = await res.json();

                if (data.success) {
                    const newSignature = generateSignature(data.data);
                    if(newSignature!==previousSignature){
                        previousSignature=newSignature;
                        renderIncidents(data.data);
                    }
                    // else{
                    //     console.log("no change no render in incidents")
                    // }
                    //else no change skip render;
                }
            } catch (err) {
                console.log(err);
            }
        }
        const clusterGroup = L.markerClusterGroup({
            disableClusteringAtZoom: 16,
            maxClusterRadius: 30,
            spiderfyonMaxZoom: true,
            // zoomToBoundsOnClick: true,
            // showCoverageOnHover:false,
            iconCreateFunction: function (cluster) {
                return L.divIcon({
                    html: `<div style="background:red;color:white;border-radius:50%;padding:10px;">
                            ${cluster.getChildCount()}
                           </div>`,
                    className: "custom-cluster",
                    iconSize: L.point(40, 40)
                });
            }
        });

        map.addLayer(clusterGroup);

        function renderIncidents(incidents) {
            //clear old markers
            console.log(incidents);
            clusterGroup.clearLayers();
            // const zoom=map.getZoom();

            incidentMarkers.length = 0;
            incidents.forEach((i, index) => {
                let [lng, lat] = i.coordinates;

                const offset = (index % 5) * 0.00009;
                lat += offset;
                lng += offset;

                const incidentmarker = L.marker([lat, lng], {
                    icon: L.icon({
                        iconUrl: "https://maps.google.com/mapfiles/ms/icons/red-dot.png",
                        iconSize: [32, 32],
                    }),
                });
                incidentmarker.bindPopup(`<b>${i.type}</b><br/> ${i.description || ""}`);
                incidentMarkers.push(incidentmarker);
                clusterGroup.addLayer(incidentmarker);
            });
        }

        fetchIncidents();
        setInterval(fetchIncidents, 10000);





    </script>

</body>

</html>